
@{
    ViewBag.Title = "UpLoadPhoto";
}

<style>
    img{
        margin:5px
    }

</style>

<h2>Photos:</h2>
<div style="background-color:hsla(9, 100%, 64%, 0.2)">
    <div style="margin-top: 20px">
        @*<label for="photo" id="photoLable" class="btn btn-default">Choose photo</label>*@
        <div class="table-bordered center-block">
            <img src="@Url.Content("~/Images/DefaultUserImgs/man.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "man.png" })"' />
            <img src="@Url.Content("~/Images/DefaultUserImgs/superhero.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "superhero.png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/superhero (1).png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "superhero (1).png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/superhero (2).png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "superhero (2).png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/soldier.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "soldier.png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/dart.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "dart.png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/garry.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "garry.png" })"'/>
            <img src="@Url.Content("~/Images/DefaultUserImgs/santa-claus.png")" alt="Type Image" height="100" width="100" class="table-bordered" onclick='window.location.href ="@Url.Action("Edit", "Manage", new {ph = "santa-claus.png" })"'/>
        </div>
        <form action="~/Manage/Upload" method="post" enctype="multipart/form-data">
            <p>Or you can upload photo:</p>
            <label for="photo" id="photoLable" class="btn btn-default">Choose photo</label>
            <input type="file" name="photo" id="photo" class="btn btn-default " />
            <input type="submit" value="Upload" class="btn btn-default" />
        </form>
    </div>
</div>

